.btn{    
    display: inline-block; 
    height: 30px; 
    border: none; 
    cursor: pointer; 
    border-radius: 3px; 
    overflow: hidden; 
    background: url(btn.png) no-repeat; 
    background-color: #5dcb30; 
    box-shadow: 0 1px 2px #efefef; 
    vertical-align: middle; 
    color: #000; 
}

.btn:hover{    
    color: #000; 
}

.btn-1,.btn-6,.btn-8{    
    border: 1px solid #50ad1d; 
    border-top: 1px solid #54bf1a; 
    border-bottom: 1px solid #4c9a20; 
}

.btn-2,.btn-3,.btn-4,.btn-5,.btn-7,.btn-9{    
    border: 1px solid #d2d2d2; 
    border-top: 1px solid #dfdfdf; 
}

.btn-4,.btn-5,.btn-6,.btn-8,.btn-9{    
    padding: 0 15px; 
    *padding: 0; 
}

.btn-1{    
    width: 83px; 
    color: #fff; 
    margin-right: 5px; 
}

.btn-1:hover{    
    background-position: 0 -33px; 
    color: #fff; 
}

.btn-2{    
    width: 83px; 
    color: #333; 
    margin-right: 5px; 
    background-position: 0 -66px; 
    background-color: #f1f1f1; 
}

.btn-2:hover{    
    background-position: 0 -99px; 
}

.btn-3{    
    width: 68px; 
    height: 26px; 
    background-position: 0 -66px; 
    background-color: #f1f1f1; 
}

.btn-3:hover{    
    background-position: 0 -99px; 
}

.btn-4{    
    background-position: 0 -66px; 
    background-color: #f1f1f1; 
}

.btn-4:hover{    
    background-position: 0 -99px; 
}

.btn-5{    
    height: 27px; 
    background-position: 0 -66px; 
    background-color: #f1f1f1; 
}

.btn-5:hover{    
    background-position: 0 -99px; 
}

.btn-6{    
    height: 24px; 
    color: #fff; 
}

.btn-6:hover{    
    background-position: 0 -33px; 
    color: #fff; 
}

.btn-7{    
    width: 73px; 
    height: 30px; 
    background-position: 0 -66px; 
    background-color: #f1f1f1; 
}

.btn-7:hover{    
    background-position: 0 -99px; 
}

.btn-8{    
    color: #fff; 
}

.btn-8:hover{    
    background-position: 0 -33px; 
    color: #fff; 
}

.btn-9{    
    height: 24px; 
    background-position: 0 -66px; 
    background-color: #f1f1f1; 
}

.btn-9:hover{    
    background-position: 0 -99px; 
}
